<!doctype html>
<html>
<head>
    <base>
    <meta http-equiv="Content-type=text/html;charset=utf-8"/>
    <title>聊天室</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/flat-ui.css" />
    <script language="javascript" src="/javascript/jquery.js"></script>
    <script language="javascript" src="/javascript/bootstrap.js"></script>
    <script language="javascript" src="/socket.io/socket.io.js"></script>
    <script language="javascript">
        var user_id = "<%= user_id%>";
        var socket = io.connect("127.0.0.1:1337");
        var room_id = "<%= room_id%>";
        var to_user ="";
        var html ="";
        function createhtml(message) {

            html += '<div class="list-group-item message"> ' + message.user + ' : ' + message.content;
            html+= '</div>';
            $(".messages").html(html);
        }
        var userhtml="";
        function create_user_message(message){
            var message = message.message;
            userhtml +=  '<div class="list-group-item message"> ' +message.user + ' : ' + message.content;
            userhtml += '</div>';
            $(".dialog").html(userhtml);
        }

        function createhtml2(messages) {
            for (var i in messages) {
                html += '<div class="list-group-item message"> ' +messages[i].user + ' : ' + messages[i].content;
                html+= '</div>';
                $(".messages").html(html);
            }
        }

        function showModalDialog(json) {
            to_user = json.username;
            $("#avatar").attr("src",json.avatar);
            $("#chatto_user").html(json.username);
            $("#myModal").modal();
        }
        var ctrlDown = false;
        var messages;
        $(document).ready(function () {
            $(".message-input").bind("keydown", function (event) {
                if (event.keyCode === 17) {
                    ctrlDown = true;
                    setTimeout(function (event) {
                        ctrlDown = false
                    }, 1000);
                }
                var username = "<% if (user){%><%= user.username%><%}else{ %> <% } %>";
                if (event.keyCode === 13) {
                    if (ctrlDown) {
                        $(".message-input").val("");
                    } else {
                        var value = $(".message-input").val();
                        $(".message-input").val('');
                        var message = {
                            content: value,
                            user: username,
                            time: new Date().getTime(),
                            room_id: "<%= room_id%>"
                        };
                        if (value) {
                            socket.emit("createMessage", message);
                            value = "";
                            socket.on('error', function (data) {
                                
                            });
                        }
                    }
                }
            });

            // 系统消息

            socket.on("system message",function (data){
                var message = data.message;
                console.log("接收消息");
                console.log(message);
                $("#system_message").html(message);
            });

            //单独用户窗口发送消息
            $(".sendmessage").click(function (){
                var message = {
                    content: $("#usercontent").val(),
                    user: "<% if (user){%><%= user.username%><%}else{ %> <% } %>",
                    time: new Date().getTime(),
                    room_id: "<%= room_id%>",
                    to_user:to_user,
                    from_user: "<% if (user){%><%= user.username%><%}else{ %> <% } %>"
                };

                socket.emit("sayto",{message:message});
                $("#usercontent").val('');
            });

            /**
             * 接受单聊信息
             */
            socket.on("say",function (data){
                console.log(data);
                create_user_message(data.message);
            });


            //用户登录房间
            socket.emit("login room", {
                username: "<% if (user){%><%= user.username%><%}else{ %> <% } %>",
                time: new Date().getTime(),
                room_id: "<%= room_id%>"

            });


            // 当用户登录房间
            socket.on("login user", function (data) {

                var div ="<div id=\"welcome\">"+data.message+"</div>";
                $(".messages").append(div);
                $("#welcome").fadeOut(5000);
                setTimeout(function (){
                    $("#welcome").remove();
                },5000);
            });
            socket.on("connected", function (data) {
                alert(data.message);
            });
            socket.on("messageAdded", function (message) {
                createhtml(message);
            });

            socket.on("onlineuser", function (data) {
                //此处处理users;
                console.log(data.data);

            });
            socket.emit('getAllMessages', {room_id: "<%= room_id%>"});
            //登录房间
            socket.emit("setroom", {room_id: room_id});

            socket.on('allMessages', function (messages) {
                createhtml2(messages);
            });

            socket.on("exist user",function(data){
                //userdata
                if(data!==null ||data.length!=0 || data!==undefined ){
                    for(var i=0;i<data.length;i++){

                    }
                }
            });

            $("#logout").click(function () {
                socket.emit("leave room", {username: "<% if (user){%><%= user.username%><%}else{ %> <% } %>",room_id:room_id});
                location.href = "/logout";
            });

            // 在线用户
            socket.on("user_online_detail", function (data) {
                var  userdata = data.data;
                var onlineusers = "";
                for (var i = 0; i < userdata.length; i++) {
                    if (userdata[i].avatar == "" || userdata[i].avatar == undefined) {
                        userdata[i].avatar = "/images/none.png";
                    }
                    var namedata = new Object();
                    namedata = JSON.stringify(userdata[i]);
                    onlineusers += "<li><a class='showdialog' style='cursor: pointer;' onclick='javascript:showModalDialog("+namedata+");'><img src='" + userdata[i].avatar + "' width='45'>&nbsp;" + userdata[i].username + "</a></span></li>";
                }
                $(".userlist").html(onlineusers);
            });

        });
    </script>
</head>
<body>

<nav class="collapse navbar-collapse" role="navigation">
    <!--<li>-->
    <!--<img src="{{me.avatarUrl}}" title="{{me.name}}" class="img-rounded">-->
    <!--</li>-->
    <!--<li href="" ng-click="logout()"><a style="font-color:white">Log Out</a></li>-->
</nav>
<div class="nav navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navar header">
            <a class="navbar-brand">欢迎进入，<%= room%></a>
            <ul class="nav navbar-nav navbar-right hidden-sm">

                <li>
                    <% if (user){ %>
                    <a class="navbar-brand"><span>欢迎回来</span> <span><%= user.username%></span></a>
                    <a class="navbar-brand" href="/system_message"> 系统消息</a>
                    <a class="navbar-brand" style="cursor:pointer" id="logout">退出</a>
                    <%}else{%>
                    <a class="navbar-brand" href="/login">登录</a>
                    <a class="navbar-brand" href="/register">注册</a>
                    <% } %>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="container" style="margin-top:100px">
    <% if (room) {%>
    <h5>您正在房间 ： <%= room%></h5>
    <%}%>
    <div class="col-md-12">
        <div class="col-md-9">

        </div>
        <div class="pannel-heading room-header">
            <h5>系统公告</h5>
            <marquee><span id="system_message">请遵守国家相关法律，文明发言</span></marquee>
        </div>
        <div class="row">
            <div  style="float: right;width:700px; border:10px solid; border-radius: 10px;border-color:#16a085;">

                <div class="pannel body room-content">
                    <div class="list-group messages" style="height: 400px;">
                        <div class="list-group-item" >
                            <div class="message"></div>
                        </div>
                    </div>
                </div>

                <form class="message-creator form-inline">
                    <div class="form-group">
                        <img src="/images/facetitle.png" width="30"  style="margin-left:10px;"/>
                        <input required class="form-control message-input" size="62" placeorder="Ctrl Enter to quick send" >
                       <button class="btn btn-primary" >发送</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-4" >
                <div class="todo">
                    <div class="todo-search">
                        <input class="todo-search-field" type="search" value="" placeholder="搜索" />
                    </div>
                    <ul>
                        <li class="todo-done userlist" style="background:none;">
                            <div class="todo-icon fui-user"></div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div><!-- /.todo -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div>


    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span><img id="avatar" width="50" height="50" /><a id="chatto_user" style="margin-left: 20px;"></a></span>
                </div>
                <div class="modal-body">
                    <div class="pannel body room-content" >
                        <div class="list-group user_message" >
                            <div class="list-group-item dialog" style="height: 300px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <textarea id="usercontent" class="form-control"></textarea>
                    </div>
                    <button type="button" class="btn  btn-primary btn-sm" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn  btn-primary btn-sm sendmessage">发送</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>