<!doctype html>
<html>
<head>
    <base>
    <meta http-equiv="Content-type=text/html;charset=utf-8"/>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/flat-ui.css" />
    <script language="javascript" src="/javascript/jquery.js"></script>
    <script language="javascript" src="/javascript/bootstrap.js"></script>
    <script language="javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/stylesheets/bubble.css" />
    <script language="javascript">
        var socket = io.connect("127.0.0.1:1337");
        var room_id = "<%= room_id%>";
        var to_user ="";
        var html ="";
        var friend_list = "<%= friend_list%>";
        var username = "<% if (user){%><%= user.username%><%}else{ %> <% } %>";
        function createhtml(message) {
            if(message.avatar==undefined || message.avatar==null ||message.avatar==""){
                message.avatar = "/images/none.png";
            }
			if(message.user==username){
				 html += "<div style='margin-top: 30px;'><img src='"+message.avatar+"' width='50' style='margin-top:5px; margin-left: 5px;'>";
				 html += "<div><a style='font-size: 12pt;'>"+message.user+"</a></div>";
				 html +='<div class="demo clearfix" style="margin-left: 15px;margin-top:-80px; ">';
				 html +='<span class="triangle">'+message.user+'</span>';
				 html +='<div class="article">'+message.content+'</div>';
				 html +=' </div>';
				 html +=' </div>';
			}else{
				html += "<div style='margin-top: 30px;'><img src='"+message.avatar+"' width='50' style='float:right;margin-top:15px; margin-left: 10px;'>";
			
				html +='<div class="demo clearfix fr" style="margin-right: 15px;margin-top:-20px; ">';
				html+='<span class="triangle right">'+message.user+'</span>';
				html+='<div class="article" style="margin-top:20px;">'+message.content+'</div>';
				html += '<div style="float:right;margin-top:65px;margin-right:-136px;"><a style="font-size:12pt;">'+message.user+'</a></div>';
				html+='	 </div>';
				html +=' </div>';
			}
           
            $(".messages").html(html);
            if($(".messages")[0].scrollHeight >$(".messages").height()) {
                $(".messages").scrollTop($(".messages")[0].scrollHeight);
            }
        }

        var userhtml="";
        function create_user_message(message) {
            var message = message.message;
            if (message.user == username) {
                userhtml += "<div style='margin-top: 30px;'><img src='" + message.avatar + "' width='50' style='margin-top:5px; margin-left: 5px;'>";
                userhtml += "<div><a style='font-size: 12pt;'>" + message.user + "</a></div>";
                userhtml += '<div class="demo clearfix" style="margin-left: 15px;margin-top:-80px; ">';
                userhtml += '<span class="triangle">' + message.user + '</span>';
                userhtml += '<div class="article">' + message.content + '</div>';
                userhtml += ' </div>';
                userhtml += ' </div>';
            } else {
				userhtml += "<div style='margin-top: 30px;'><img src='"+message.avatar+"' width='50' style='float:right;margin-top:15px; margin-left: 10px;'>";
				userhtml +='<div class="demo clearfix fr" style="margin-right: 15px;margin-top:-20px; ">';
				userhtml+='<span class="triangle right">'+message.user+'</span>';
				userhtml+='<div class="article" style="margin-top:20px;">'+message.content+'</div>';
				userhtml += '<div style="float:right;margin-top:65px;margin-right:-136px;"><a style="font-size:12pt;">'+message.user+'</a></div>';
				userhtml+='	 </div>';
				userhtml +=' </div>';
			}

            $(".dialog").html(userhtml);
            if ($(".dialog")[0].scrollHeight > $(".dialog").height()) {
                $(".dialog").scrollTop($(".dialog")[0].scrollHeight);
            }
        }

        function createhtml2(messages) {
            for (var i in messages) {
                html += '<div class="list-group-item message"> ' +messages[i].user + ' : ' + messages[i].content;
                html+= '</div>';
                $(".messages").html(html);
            }
        }

        //  发送函数
        function send_message(){
            var value = $(".message-input").val();
            value = replace_em(value);
            $(".message-input").val('');
            var message = {
                content: value,
                user: username,
                time: new Date().getTime(),
                room_id: "<%= room_id%>",
                avatar :"<%= avatar%>"
            };
            if (value) {
                socket.emit("createMessage", message);
                value = "";
                socket.on('error', function (data) {

                });
            }
        }

        function showModalDialog(json) {
            to_user = json.username;
            $("#avatar").attr("src",json.avatar);
            $("#chatto_user").html(json.username);
            $("#myModal").modal();
        }


        // 查找好友关系
        function is_friend(username){
            if(friend_list != null){
                for(var k=0;k<friend_list.length;k++){
                    if(friend_list[k].friendUser==username){
                        return true;
                    }else{
                        return false ;
                    }
                }
            }else{
                return true;
            }
        }
        function replace_em(str){
            str = str.replace(/\</g,'&lt;');
            str = str.replace(/\>/g,'&gt;');
            str = str.replace(/\n/g,'<br/>');
            str = str.replace(/\[em_([0-9]*)\]/g,'<img src="/images/looks/$1.gif" border="0" />');
            return str;
        }

        // 添加好友
        function adduser(friend_user){
            socket.emit("add user",{username:username,friendUser:friend_user,isconfirm:0,isrefuse:0});
            $(".adduser").html("<a>已发送</a>");
        }
        //好友请求消息
        socket.on("user add message",function (data){
            var add_message = "<div  class='nav'>";
            for(var i=0; i< data.length;i++){
                add_message  += "<ul style='list-style: none;'>";
                add_message  += "<li>"+data[i].username+"请求加您好为好友</li>";
                add_message  += "<li><label><input type=\"radio\" name=\"user_add\" class=\"accept\"  onclick=\"aggree('"+data[i].username+"','"+data[i].friendUser+"')\">接受</label> " ;
                add_message  += "<label><input type=\"radio\" name=\"user_add\" class=\"refuse\" onclick=\"refuse('"+data[i].username+"','"+data[i].friendUser+"')\">拒绝</label></li>";
                add_message  += "</ul>";
            }
            add_message += "</div>";
            //添加html
            $(".friend_message").html( add_message);
            var add_user_data =   JSON.stringify(data);
            var add_user_message=  "<a id=\"show_user_message\" onclick=\"show_message()\" style='cursor: pointer'>您有系统消息</a>";
            // 初始化消息列表
            $(".user_message").html(add_user_message);
        });

        //显示消息
        function show_message(){
           $("#add_friendlist").modal();
        }

        // 拒绝请求
        function refuse(username ,friendUser){
            $(".reason").show();
            $(".aggree").hide();
            //拒绝发送
            var reason = $(".reason").val()!=' '? $(".reason").val() : null;
            socket.emit("refuse request" ,{username:friendUser , friendUser:username,isrefuse : 1});
        }
        // 同意请求
        function aggree(username ,friendUser){
            $(".reason").hide();
            $(".aggree").show();
            //确认发送
            socket.emit("aggree request" ,{username:friendUser , friendUser:username,isrefuse:0});
        }
        var ctrlDown = false;
        var messages;
        var alt = "";

        $(document).ready(function () {

            $(".send_button").click(function () {
                send_message();
            });
            $(".click_face").click(function (){
                $(".message-input")[0].value +=$(this).attr("title");
            });
            $(".expression").hide();

            //表情
            $("#face").click(function () {
                if ($(".expression").is(":hidden")) {
                    $(".expression").show();
                } else {
                    $(".expression").hide();
                }
            });

            $(".message-input").bind("keydown", function (event) {
                if (event.keyCode === 17) {
                    ctrlDown = true;
                    setTimeout(function (event) {
                        ctrlDown = false
                    }, 1000);
                }

                if (event.keyCode === 13 ) {
                    if (ctrlDown) {
                        $(".message-input").val("");
                    } else {
                        send_message();
                    }
                }
            });

            // 系统消息
            socket.on("system message",function (data){
                var message = data.message;
                $("#system_message").html(message);
            });

            //单独用户窗口发送消息
            $(".sendmessage").click(function (event){
                var message = {
                    content: $("#usercontent").val(),
                    user: "<% if (user){%><%= user.username%><%}else{ %> <% } %>",
                    time: new Date().getTime(),
                    room_id: "<%= room_id%>",
                    to_user:to_user,
                    from_user: "<% if (user){%><%= user.username%><%}else{ %> <% } %>",
                    avatar :"<% if (user.avatar==null || user.avatar==undefined){%><%= user.avatar%><%}else{ %>/images/none.png<% } %>"
                };

                socket.emit("sayto",{message:message});
                $("#usercontent").val('');
            });

            /**
             * 接受单聊信息
             */
            socket.on("say",function (data){
                create_user_message(data.message);
            });

            //用户登录房间
            socket.emit("login room", {
                username: "<% if (user){%><%= user.username%><%}else{ %> <% } %>",
                time: new Date().getTime(),
                room_id: "<%= room_id%>"
            });


            // 当用户登录房间
            socket.on("login user", function (data) {
                // todo 自己登陆的时候需不需要显示欢迎自己的信息可以自定义去掉if条件
                if(data.username != username){
                    var div ="<div id=\"welcome\">"+data.message+"</div>";
                    $(".messages").append(div);
                    $("#welcome").fadeOut(5000);
                    setTimeout(function (){
                        $("#welcome").remove();
                    },5000);
                }
            });
            socket.on("connected", function (data) {
                alert(data.message);
            });
            socket.on("messageAdded", function (message) {
                createhtml(message);
            });

            socket.on("onlineuser", function (data) {
                //此处处理users;
//                console.log(data.data);
            });
            socket.emit('getAllMessages', {room_id: "<%= room_id%>"});
            //登录房间
            socket.emit("setroom", {room_id: room_id});

            socket.on('allMessages', function (messages) {
                createhtml2(messages);
            });

            $("#logout").click(function () {
                socket.emit("leave room", {username: "<% if (user){%><%= user.username%><%}else{ %> <% } %>",room_id:room_id});
                location.href = "/logout";
            });

            //修改资料需要离开房间修改
            $("#modify").click(function (){
                if(confirm("您确认要离开房间修改资料么")){
                    socket.emit("leave room", {username: "<% if (user){%><%= user.username%><%}else{ %> <% } %>",room_id:room_id});
                    location.href = "/user/<%= user.username%>";
                }
            });

            /**
             * 已经退出聊天室
             */
            socket.on("disconnect room",function (data){
                var leave_room_msg  = "<div id=\"disconnect_room\">"+data.username+" 已经离开聊天室</div>";
                $(".messages").append(leave_room_msg);
                $("#disconnect_room").fadeOut(5000);
            });

            /**
             * 退出整个系统
             */
            socket.on("disconnect system",function (data){
                var leave_sys_msg  = "<div id=\"leave_system\">"+data.username+" 已经离开聊天室</div>";
                $(".messages").append(leave_sys_msg);
                $("#leave_system").fadeOut(5000);
            });


            // 在线用户
            socket.on("user_online_detail", function (data) {
                var  userdata = data.data;
                var onlineusers = "";
                for (var i = 0; i < userdata.length; i++) {
                    if (userdata[i].avatar == "" || userdata[i].avatar == undefined) {
                        userdata[i].avatar = "/images/none.png";
                    }
                    var namedata = new Object();
                    namedata = JSON.stringify(userdata[i]);
                    //是否是好友关系
                    var isfriend = is_friend(userdata[i].username);
                    //如果是自己则不现实加好友操作
                    if(!isfriend && userdata[i].username != username){
                        var join = "<a  onclick=\"adduser('"+userdata[i].username+"')\" class=\"adduser btn btn-primary btn-xs \"  data-user=\""+userdata[i].username+"\">加好友</a>";
                    }else{
                        var join= "";
                    }
                    onlineusers += "<li><a class='showdialog' style='cursor: pointer;' onclick='javascript:showModalDialog(" + namedata + ");'><img src='" + userdata[i].avatar + "' width='45'>&nbsp;" + userdata[i].username + "</a></span>"+join+"</li>";
                }
                $(".userlist").html(onlineusers);
            });

            //添加好友

            $("#show_user_message").click(function(){
                $("#add_friend").modal();
                $("#add_friendlist").modal();
            });
            //断开连接
            socket.on('reconnect',function(){
                var msg = '<div id="reconnect" style="color:#f00">您已经重新连接服务器</div>';
                $(".messages").append(msg);
                $("#reconnect").fadeOut(5000);
            });

            socket.on('disconnect',function(){
                var msg = '<div id="disconnect" style="color:#f00">您已经断开连接</div>';
                $(".messages").append(msg);
                $("#disconnect").fadeOut(5000);
            });

        });
    </script>
</head>
<body>

<nav class="collapse navbar-collapse" role="navigation">
    <!--<li>-->
    <!--<img src="{{me.avatarUrl}}" title="{{me.name}}" class="img-rounded">-->
    <!--</li>-->
    <!--<li href="" ng-click="logout()"><a style="font-color:white">Log Out</a></li>-->
</nav>
<div class="nav navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navar header">
            <a class="navbar-brand">欢迎进入，<%= room%></a>
            <ul class="nav navbar-nav navbar-right hidden-sm">

                <li>
                    <% if (user){ %>
                    <a class="navbar-brand">
                        <span>
                        <img width="30xp;" src="<% if(user.avatar!=null){%><%= user.avatar%><%}else{%><img src='/images/none.png'><%}%>"></span>
                        <span><%= user.username%></span>
                        <a class="navbar-brand user_message" ></a>
                    </a>

                    <a class="navbar-brand" href="/system_message"> 系统消息</a>
                    <a class="navbar-brand" id="modify" style="cursor: pointer">  修改资料</a>

                    <a class="navbar-brand" style="cursor:pointer" id="logout">退出</a>
                    <%}else{%>
                    <a class="navbar-brand" href="/login">登录</a>
                    <a class="navbar-brand" href="/register">注册</a>
                    <% } %>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="container" style="margin-top:100px">
    <% if (room) {%>
    <h5>您正在房间 ： <%= room%></h5>
    <%}%>
    <div class="col-md-12">
        <div class="col-md-9">

        </div>
        <div class="pannel-heading room-header">
            <h5>系统公告</h5>
            <marquee><span id="system_message">请遵守国家相关法律，文明发言</span></marquee>
        </div>
        <div class="row">
            <div  class="message_send">
                <div class="pannel body room-content">
                    <div class="bubble list-group messages" style="height: 400px;width:670px;margin-left:2px;overflow:scroll">
                        <div class="list-group-item" style="border:none;" >
                        </div>
                    </div>
                </div>

                <div class="form-group form-inline">
                    <label style="display: inline;"><a id="face" style="cursor: pointer"><img src="/images/facetitle.png" width="30" style="margin-left:10px;"/></a>
                    <input required  style="width: 550px;" size="20" class="form-control message-input"
                           placeorder="Ctrl Enter to quick send">
                    <button class="btn btn-primary send_button" type="button">发送</button></label>
                </div>

                <div  class="container expression" style="overflow-y:scroll;width: 660px;">
                    <div class="list-div"><a class="click_face" title="[em_1]"><img src="/images/looks/1.gif"></a></div>
                    <div class="list-div"><a class="click_face" title="[em_2]"><img src="/images/looks/2.gif"></a></div>
                    <div class="list-div"><a class="click_face" title="[em_3]"><img src="/images/looks/3.gif"></a></div>
                    <div class="list-div"><a class="click_face" title="[em_4]"><img src="/images/looks/4.gif"></a></div>
                    <div class="list-div"><a class="click_face" title="[em_5]"><img src="/images/looks/5.gif"></a></div>
                    <div class="list-div"><a class="click_face" title="[em_6]"><img src="/images/looks/6.gif"></a></div>
                    <div class="list-div"><a class="click_face" title="[em_7]"><img src="/images/looks/7.gif"></a></div>
                    <div class="list-div"><a class="click_face" title="[em_8]"><img src="/images/looks/8.gif"></a></div>
                    <div class="list-div"><a class="click_face" title="[em_9]"><img src="/images/looks/9.gif"></a></div>
                    <div class="list-div"><a class="click_face" title="[em_10]"><img src="/images/looks/10.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_11]"><img src="/images/looks/11.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_12]"><img src="/images/looks/12.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_13]"><img src="/images/looks/13.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_14]"><img src="/images/looks/14.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_15]"><img src="/images/looks/15.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_16]"><img src="/images/looks/16.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_17]"><img src="/images/looks/17.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_18]"><img src="/images/looks/18.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_19]"><img src="/images/looks/19.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_20]"><img src="/images/looks/20.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_21]"><img src="/images/looks/21.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_22]"><img src="/images/looks/22.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_23]"><img src="/images/looks/23.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_24]"><img src="/images/looks/24.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_25]"><img src="/images/looks/25.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_26]"><img src="/images/looks/26.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_27]"><img src="/images/looks/27.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_28]"><img src="/images/looks/28.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_29]"><img src="/images/looks/29.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_30]"><img src="/images/looks/30.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_31]"><img src="/images/looks/31.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_32]"><img src="/images/looks/32.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_33]"><img src="/images/looks/33.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_34]"><img src="/images/looks/34.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_35]"><img src="/images/looks/35.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_36]"><img src="/images/looks/36.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_37]"><img src="/images/looks/37.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_38]"><img src="/images/looks/38.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_39]"><img src="/images/looks/39.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_40]"><img src="/images/looks/40.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_41]"><img src="/images/looks/41.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_42]"><img src="/images/looks/42.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_43]"><img src="/images/looks/43.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_44]"><img src="/images/looks/44.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_45]"><img src="/images/looks/45.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_46]"><img src="/images/looks/46.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_47]"><img src="/images/looks/47.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_48]"><img src="/images/looks/48.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_49]"><img src="/images/looks/49.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_50]"><img src="/images/looks/50.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_51]"><img src="/images/looks/51.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_52]"><img src="/images/looks/52.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_53]"><img src="/images/looks/53.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_54]"><img src="/images/looks/54.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_55]"><img src="/images/looks/55.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_56]"><img src="/images/looks/56.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_57]"><img src="/images/looks/57.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_58]"><img src="/images/looks/58.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_59]"><img src="/images/looks/59.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_60]"><img src="/images/looks/60.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_61]"><img src="/images/looks/61.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_62]"><img src="/images/looks/62.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_63]"><img src="/images/looks/63.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_64]"><img src="/images/looks/64.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_65]"><img src="/images/looks/65.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_66]"><img src="/images/looks/66.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_67]"><img src="/images/looks/67.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_68]"><img src="/images/looks/68.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_69]"><img src="/images/looks/69.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_70]"><img src="/images/looks/70.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_71]"><img src="/images/looks/71.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_72]"><img src="/images/looks/72.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_73]"><img src="/images/looks/73.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_74]"><img src="/images/looks/74.gif"></a>
                    </div>
                    <div class="list-div"><a class="click_face" title="[em_75]"><img src="/images/looks/75.gif"></a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="todo">
                    <div class="todo-search" style="overflow: hidden">
                        <input class="todo-search-field" type="search" value="" placeholder="搜索" />
                    </div>
                    <ul>
                        <li class="todo-done userlist" style="background:none;">
                            <div class="todo-icon fui-user"></div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--单个好友请求确认-->
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span><img id="avatar" width="50" height="50" /><a id="chatto_user" style="margin-left: 20px;"></a></span>
                </div>
                <div class="modal-body">
                    <div class="pannel body room-content">
                        <div class="list-group user_message" >
                            <div class="list-group-item dialog" style="height: 300px;overflow: scroll">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <textarea id="usercontent" class="form-control"></textarea>
                    </div>
                    <button type="button" class="btn  btn-primary btn-sm" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn  btn-primary btn-sm sendmessage">发送</button>
                </div>
            </div>
        </div>
    </div>

    <!--消息列表-->
    <div class="modal" id="add_friendlist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>好友请求</h3>
                </div>
                <div class="modal-body" >
                    <div class="friend_message">
                     </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group aggree" style="display: none;">
                        <button class="btn btn-xs btn-primary"> 接受请求</button>
                    </div>
                    <div class="form-group">
                        <textarea id="refuse_reson"  class="form-control reason" style="display: none;" ></textarea>
                        <button type="button" class="btn  btn-primary btn-sm refuse_reason" data-dismiss="modal">拒绝</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!--[if IE ]>
<script language="javascript">
    $(".message_send").css("margin-right","300px");

</script>
<![endif]-->
</body>
</html>